.container_header {
    background-color: rgb(62, 62, 62);
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.container_header h1 {
    color: white;
}

#nav_principal{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#lista_header{
    display: flex;
    gap: 40px;
}

.item_list_header{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: large;
}